trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
- group: 'Postman automation azure key'

steps:
- script: |
    powershell.exe -NoProfile -InputFormat None -ExecutionPolicy AllSigned -Command "[System.Net.ServicePointManager]::SecurityProtocol = 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://dl-cli.pstmn.io/install/win64.ps1'))"
  displayName: 'Install Postman CLI'

- task: CmdLine@2
  displayName: 'Run automated API tests using Postman CLI'
  inputs:
    script: |
      postman login --with-api-key $(Postman Automation Key)
      postman collection run "EmployeeNewHire" --environment "DemoDev"
